.input-cost {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.input-cost .input-cost-value {
  border: none;
  margin-right: 40px;
}

.input-cost .input-cost-value:focus-visible {
  outline: 0px;
}

.input-cost .btn-max {
  color: #2b4532;
  position: absolute;
  right: 0;
  cursor: pointer;
  background-color: #dbffe5;
  border: 1px solid #dbffe5 !important;
  border-radius: 10px;
  border: none;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.3s ease-in-out;
}
.input-cost .btn-max:hover {
  background: transparent;
  border: 1px solid #AAFFC2 !important;
}
